{% extends 'notes/base.html'%}
{% block title %}Notes - displayNotes{% endblock title %}
{% block content %}
<div class="stage2" align="center">
    <div class="mudda" align="center">
    {% if notes %}
	{% for note in notes %}
	 <h3>{{note.label}}</h3>
	 {{note.body|linebreaks}}
    <p>Click <a href="/notes/addnote/?id={{note.id}}">HERE</a> to edit or delete</p>
	{% endfor %}
    </div>
    <div class="bottom">
        <p>Click <a href="/notes/addnote/">HERE</a> to make notes</p>
        <p>Click <a href="/logout/">HERE</a> to logout</p>
    </div>
    {% else %}
	<div class="mudda" align='center'>
		<h3>No Notes Yet!</h3>
        <div class="bottom">
        <p>Click <a href="/notes/addnote/">HERE</a> to make notes</p>
        <p>Click <a href="/logout/">HERE</a> to logout</p>
    </div>
	</div>
</div>
    {% endif %}
{% endblock %}